<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BMI Score</title>
    </head>
    <body>
        <h1>Your BMI is: {{bmi}}</h1>
        <h2>Based on your BMI you are considered: {{comment}}</h2>
    </body>
</html>