<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BMI Reports</title>
    </head>
    <body onload="fetchBmi()">
        <h1>BMI Reports</h1>
        <div id="content">
            
        </div>
    </body>
    <script src="js/app.js"></script>
</html>